<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">
    <title>El Almoadino</title>
  </head>
  <body>
    <div class="formulario">
      <h1>Actualizar Usuario</h1>
      <form action="/actualizar_usuario/{{e}}" method="POST">
        <div>
          <label>Usuario: </label> <br/>
          <input type="text" name="usuario" placeholder="Escriba su usuario aquí" required >
        </div>
        <div>
          <label>Contraseña: </label> <br/>
          <input type="text" name="clave" placeholder="Escriba su contraseña aquí" required >
        </div>
        <div>
            <label>Nombre: </label> <br/>
            <input type="text" name="nombre" placeholder="Escriba su nombre aquí" required >
        </div>
        <div>
            <label>Primer Apellido: </label> <br/>
            <input type="text" name="primer_apellido" placeholder="Escriba su primer apellido aquí" required >
        </div>
        <div>
            <label>Segundo Apellido: </label> <br/>
            <input type="text" name="segundo_apellido" placeholder="Escriba su segundo apellido aquí" required >
        </div>
        <div>
            <label>Fecha de Nacimiento: </label> <br/>
            <input type="date" name="fecha_de_nacimiento" placeholder="Escriba su fecha de nacimiento aquí" required >
        </div>
        <div>
            <label>Genero: </label> <br/>
            <input type="radio" name="genero" value="M" checked>Masculino
            <br>
            <input type="radio" name="genero" value="F">Femenino
        </div>
        <div>
            <label>Direccion: </label> <br/>
            <input type="text" name="direccion" placeholder="Escriba su direccion aquí" required >
        </div>
        <div>
          <label>Departamento: </label> <br/>
          <input type="text" name="departamento" placeholder="Escriba su direccion aquí" required >
        </div>
        <div>
          <label>Pais: </label> <br/>
          <input type="text" name="pais" placeholder="Escriba su direccion aquí" required >
        </div>
        <button type="submit" class="btn">
          Actualizar
        </button>
      </form>
    </div>
  </body>
</html>