<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">
    <title>El Almoadino</title>
  </head>
  <body>
    <div class="formulario">
      <h1>Operaciones con Articulos</h1>
      <form action="{{url_for('registrar_sofa')}}" method="POST">
        <div>
          <label>Nombre: </label> <br/>
          <input type="text" name="nombre" placeholder="Escriba el nombre aquí" required>
        </div>
        <div>
          <label>Precio: </label> <br/>
          <input type="number" step="any" name="precio" placeholder="Escriba el precio unitario aquí"required>
        </div>
        <div>
          <label>Material: </label> <br/>
          <input type="text" name="material" placeholder="Escriba el material aquí" required>
        </div>
        <div>
          <label>Codigo del Proveedor: </label> <br/>
          <input type="number" name="proveedor" placeholder="Escriba el nombre del proveedor aquí" required>
        </div>
        <button type="submit" class="btn">
          Añadir
        </button>
    </div>
  </body>
</html>