<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">
    <title>El Almoadino</title>
  </head>
  <body>
    <div class="formulario">
      <h1>Comprar Sofa</h1>
      <form action="/comprar_2/{{d}}" method="POST">
        <div>
          <label>Sofa: </label> <br/>
          <input type="number" name="sofa" placeholder="Escriba el codigo del sofa aquí" required >
        </div>
        <div>
          <label>Cantidad: </label> <br/>
          <input type="number" name="cantidad" placeholder="Escriba la cantidad aquí" required >
        </div>
        <div>
            <label>Oficina: </label> <br/>
            <input type="number" name="oficina" placeholder="Escriba el codigo de la oficina aquí" required >
        </div>
        <button type="submit" class="btn">
          Comprar
        </button>
      </form>
    </div>
  </body>
</html>