<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">
    <title>El Almoadino</title>
  </head>
  <body>
    <div class="formulario">
      <a href="/gerente/reporte_usuario" ><button class="btn2">Reporte de usuarios</button></a>
      <a href="/gerente/reporte_articulo" ><button class="btn2">Operaciones en articulos</button></a>
      <a href="/gerente/reporte_venta" ><button class="btn2">Reporte de ventas</button></a>
      <a href="/gerente/retroceder/0" ><button class="btn2">Salir</button></a>
    </div>
  </body>
</html>