<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">
    <title>El Almoadino</title>
  </head>
  <body>
    <div class="formulario">
      <h1>Inicie sesión</h1>
      <form action="{{url_for('reporte_usuario')}}" method="POST">
        <div>
          <label>Nombre: </label> <br/>
          <input type="text" name="nombre" placeholder="Escriba el nombre aquí" >
        </div>
        <div>
          <label>Primer Apellido: </label> <br/>
          <input type="text" name="primer_apellido" placeholder="Escriba el primer apellido aquí" >
        </div>
        <div>
          <label>Segundo Apellido: </label> <br/>
          <input type="text" name="segundo_apellido" placeholder="Escriba el segundo apellido aquí" >
        </div>
        <div>
          <label>Genero: </label> <br/>
          <input type="text" name="genero" placeholder="Escriba el genero aquí" >
        </div>
        <div>
          <label>Direccion: </label> <br/>
          <input type="text" name="direccion" placeholder="Escriba la direccion aquí" >
        </div>
        <button type="submit" class="btn">
          Buscar
        </button>
      </form>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <td>Código</td>
            <td>Nombre</td>
            <td>Primer Apellido</td>
            <td>Segundo Apellido</td>
            <td>Genero</td>
            <td>Direccion</td>
            <td>Fecha de Naci.</td>
          </tr>
        </thead>
        <tbody>
          {% for d in r %}
          <tr>
              <td>{{d['codigo']}}</td>
              <td>{{d['nombre']}}</td>
              <td>{{d['primer_apellido']}}</td>
              <td>{{d['segundo_apellido']}}</td>
              <td>{{d['genero']}}</td>
              <td>{{d['direccion']}}</td>
              <td>{{d['fecha_de_nacimiento']}}</td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
  </body>
</html>